html {
	margin: 0 10px;
  padding: 10px;
}

star {
	font-size: 40px;
	display: inline;
}
h4 {
	font-family: 'Droid Sans', sans-serif;
}

.logo > div {


}

top-item {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:90%;
}

top-header {
	position: absolute;
	display: block;
	top: 5%;
	left: 5%;
}

web-title {
	font-size:12;
	font-family:sans-serif;

}



nav {
	height: 200px;
	margin-bottom: 200px;
	margin: auto;
	width: 440px;
  margin-top: 40px;

}

.menu > div {
	float:left;
	display: inline-block;
	width:100px;
	height:40px;
	border-bottom: 2px #ddd solid;
	color: #444;
}




div:hover  {
	color #444;
	border-bottom-color: #777:
}


img {
	/*display: block;
	height: 60px;
	width: 60px;
	margin-left: 5%;*/
}

blue {
	float: left;
	display: block;
}



article-summaries {
background-color: magneta;
width:90%;
height: 500px;
display: block;
/*center*/
margin-left: auto;
margin-right: auto;
margin-top: 200px;
vertical-align: top;
}

article-item {
	display: inline-block;
	width: 25%;
	height: 500px;
	border-right: 1px solid green;
	border-bottom: 1px solid green;
	border-top: 4px solid green;
	box-sizing: border-box;
	padding: 30px;
	vertical-align: top;
}

article-item > h4 {
	font-size: 30px;
}

article-item:first-child {
	border-left: 1px solid green;
}


article-item:nth-child(even) {
	border-top: 4px solid red;
}



footer {
	margin-left: 5%;
	margin-top:100px;
}
